/*   */

#top-left, #top-middle, #top-right {          /*.top-grid-container, */
    display: grid;
    /*grid-template-columns: auto auto auto;*/
    grid-template-columns: repeat(3, 1fr);
    background-color:rgb(92, 133, 82);
    /*padding: 1px;*/
    border: 1px 1px 1px solid;
    width: 25%;
}

.col {           /*.grid-item, */
    background-color: rgba(175, 150, 150, 0.8);
    border: 1px solid rgba(0, 0, 0.8);
    /*padding: 1em;*/
    font-size: 30px;
    text-align: center;
}

input {
    text-align: center;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: auto;
    
} 