/*   */

h1 {
    font-family: "Rokkitt", "Times New Roman", Times, serif;
    font-size: 60px;
    font-weight: bolder;font-style: italic;
    text-align: center;
}

h2 {
    font-family: "Rokkitt", "Times New Roman", Times, serif;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.pageContent {
    align-items: center;
    max-width: 90%;
    margin: 100px 200px;
    background-color:rgb(195, 170, 189);
    min-width: 800px;
}

 #top-row, #middle-row, #bottom-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    width: 85%;
    align-items: center;
    margin-left: 120px;
 } 
    
    
 .col {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    box-sizing: content-box;
    border: 1px solid rgba(1, 1, 1);
    box-sizing: border-box;
    width: 100%;
    border: 3px solid black;
  }

  /*Add grid lines inside each grid box */
  .col > * {
    border: 2px solid black;
  }
      
input {
    text-align: center;
    border: 2px;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    height: 100px;
    width:  100%;
    margin: 0;
    background: transparent;
}

/* Changes the background of a selected input field to yellow */
input:focus {
    background-color: rgb(248, 248, 73);
  }

    /* Remove scroll arrows from input fields*/
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
} 

/* Set the bsckground color for the grids */
#top-left-grid, #top-right-grid, #middle-center-grid, 
#bottom-left-grid, #bottom-right-grid {
    background-color:rgb(179, 179, 244); 
}

/* Set the bsckground color for the grids */
#top-center-grid, #middle-left-grid, #middle-right-grid, #bottom-center-grid {
    background-color:rgb(217, 217, 216);  
}

/* Set thee font formatting got the 'p' elements */
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    line-height: 1px;
    margin-bottom: 30px;
    font-weight: bold;
} 

button {
    display: grid;
    display: inline-block;
    grid-template-columns: repeat(6, 1fr);   
    background-color: rgb(117, 168, 219);
    width: 10%;
    border: 5px solid black;
    text-align: center;
    padding: 10px 15px;
    font-size: 60px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 35 px;
    box-shadow: 0 9px #818080;
    text-decoration: none;
    position: relative;   
}

/* Added animation to the buttons */
button:hover {
    background-color: #3b6dec
}

/* Added color change when the mouse hovers over button */
button:active {
    background-color: #f86170;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


