/*   */

.pageContent {
    align-items: center;
    max-width: 850px;
    margin: 100px 200px;
    /* background-color:rgb(195, 170, 189);  */
}

 #top-row, #middle-row, #bottom-row {
    display: grid;
    grid-template-columns: repeat(3, .5fr);
    width: 100%;
    border: 1px 1px 1px solid;
 } 
    
    
 .col {
    display: grid;
    grid-template-columns: auto auto auto;
    box-sizing: content-box;
    border: 1px solid rgba(1, 1, 1);
    box-sizing: border-box;
    width: 100%;
    border: solid 1px;
}
      
input {
    text-align: center;
    border: 1px;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    height: 100px;
    width:  45%;
    margin: 0;
    background: transparent;
}

/* Changes the background of a selected input field to yellow */
input:focus {
    background-color: rgb(248, 248, 73);
  }

    /* Remove scroll arrows from input fields*/
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
} 

/* Set the bsckground color for the grids */
#top-left-grid, #top-right-grid, #middle-center-grid, 
#bottom-left-grid, #bottom-right-grid {
    background-color:rgb(179, 179, 244); 
}

/* Set the bsckground color for the grids */
#top-center-grid, #middle-left-grid, #middle-right-grid, #bottom-center-grid {
    background-color:rgb(217, 217, 216);  
}

/* Set thee font formatting got the 'p' elements */
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    line-height: 1px;
    margin-bottom: 30px;
    font-weight: bold;
} 

button {
    +
    display: grid;
    background-color: rgb(117, 168, 219);
    border: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 60px;
    margin: 6px 4px;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
    grid-template-columns: repeat(6, 0fr);
    position: relative;
    
}


